# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   pdo_sqlite
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    database_path:     "%kernel.root_dir%/Resources/data.db3"

    locale:            en

    word_file_path:    "%kernel.root_dir%/Resources/words.txt"

    maximum_tries:     11

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
